.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}

.card {
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    padding: 30px 20px 20px 20px;
    font-size: 0.875rem;
    text-align: center;

    p {
      color: #000000;
      margin-top: 15px;
    }

    h3 {
      margin-top: 15px;
    }
}