.footer {
	background-color: #fff;
	border-top: 1px solid #dcdcdc;
	padding: 35px 0;
	color: #999999;
	font-size: 14px;
	font-weight: 300;
}
.footer-social-container {
	padding: 20px 0 20px;
	&::after {
		clear: both;
		content: "";
		display: block;
	}
	li {
		float: left;
		margin-right: 15px;
		img {
			width: 25px;
		}
	}
}
.footer-wrapper {
	&::after {
		clear: both;
		content: "";
		display: block;
	}
	.footer-heading {
		margin-top: 30px;
	}
	.footer-column {
		width: calc(20% - 24px);
		float: left;
		margin-left: 20px;
		.footer-items-wrapper {
			li {
				line-height: 2.4;
				a {
					text-decoration: none;
					color: #1565c0;
				}
			}
		}
	}
}
@media (min-width: 300px) and (max-width: 768px) {
	.footer-wrapper {
		.footer-column {
			width: calc(100% - 40px);
			float: left;
			margin-left: 20px;
		}
	}
}