header {
    background-color: #FFF;
    border-bottom: 1px solid #DCDCDC;
    position: fixed;
    width: 100%;
    height: 76px;
    z-index: 100;
    box-shadow: 0 1px 1px 0 #e4e4e4;
    top: 0;
}

.header-btn {
	float: right;
	margin-left: 20px;
  	padding: 25px 17px;
	color: #03a57b;
	font-weight: 600;
  	text-decoration: none;
  	outline: none;

	&:hover {
		color: #ff6d24;
	}
}
@media (min-width: 300px) and (max-width: 768px) {
	.header-btn {
		font-size: .875rem;
		margin-top: 4px;
	}
}

header {
	background-color: #FFF;
	border-bottom: 1px solid #DCDCDC;
	position: fixed;
	width: 100%;
	height: 76px;
	z-index: 100;
	box-shadow: 0 1px 1px 0 #E4E4E4;
	top: 0;
	.nav {
		.active {
			a {
				font-weight: 700;
			}
		}
		&::after {
			clear: both;
			content: "";
			display: block;
		}
		li.menu-items {
			float: right;
			padding: 25px 17px;
			a {
				text-decoration: none;
				color: #333;
				outline: none;
			}
		}
	}
}
@media (min-width:300px) and (max-width: 768px) {
	header {
		.nav {
			li.menu-items {
				display: none;
			}
		}
	}
}
@media (min-width:300px) and (max-width: 1240px) {
	header {
		.nav {
			li.menu-items {
				font-size: .875rem;
				padding: 25px 10px;
			}
		}
	}
}
/* sliding panel */
.sliding-panel-content {
	position: fixed;
	top: 0;
	right: auto;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 220px;
	background: #000;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	transform: translateX(-220px);
	transition: all 0.25s linear;
	z-index: 999999;
}
.sliding-panel-content {
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		list-style: none;
		a {
			color: #fff;
			display: block;
			font-weight: 500;
			padding: 1em;
			text-decoration: none;
			&:focus {
				background-color: #03A57B;
			}
			&:hover {
				background-color: #03A57B;
				color: #fff;
			}
		}
	}
}
.sliding-panel-content.is-visible {
	transform: translateX(0);
}
.sliding-panel-fade-screen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	z-index: 999998;
}
.sliding-panel-fade-screen.is-visible {
	opacity: 0.4;
	visibility: visible;
}
.sliding-panel-button {
	display: none;
	cursor: pointer;
	outline: none;
	padding: 30px 16px 0 0;
	position: relative;
	float: left;
	img {
		height: 1.3em;
	}
}
@media (min-width:300px) and (max-width: 768px) {
	.sliding-panel-button {
		display: inline-block;
	}
}
