.hero-background {
  	background-image: linear-gradient(-40deg, #03A67B 0%, #27C36F 97%);
  	width: 100%;
    height: 600px;
    max-width: 2600px;
	border-bottom: 1px solid #9B9B9B;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    .browser-img {
      width: 900px;
      margin-bottom: 0;
      margin-top: 3.45rem;

      @media (min-width: 300px) and (max-width: 768px) {
        margin-top: 2.5rem;
        max-width: 500px;
        height: auto;
        width: 100%;
      }
    }
}
.compare-hero-text-message {
	padding: 170px 0 0;
	text-align: center;
	h1 {
		color: #FFF;
	}
	.h1-subheading {
		color: #FFF;
	}
}

@media (min-width:300px) and (max-width: 768px) {
	.shape-background {
		height: 530px;
	}
	.compare-hero-text-message {
      padding: 160px 0 0;
      height: 345px;
	}
}

.browser-shadow {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
}
