header {
  background-color: #FFF;
  border-bottom: 1px solid #DCDCDC;
  position: fixed;
  width: 100%;
  height: 76px;
  z-index: 100;
  box-shadow: 0 1px 1px 0 #e4e4e4;
  top: 0;
}

.header-btn {
  float: right;
  margin-left: 20px;
  padding: 25px 17px;
  color: #03a57b;
  font-weight: 600;
  text-decoration: none;
  outline: none;
}
.header-btn:hover {
  color: #ff6d24;
}

@media (min-width: 300px) and (max-width: 768px) {
  .header-btn {
    font-size: 0.875rem;
    margin-top: 4px;
  }
}
header {
  background-color: #FFF;
  border-bottom: 1px solid #DCDCDC;
  position: fixed;
  width: 100%;
  height: 76px;
  z-index: 100;
  box-shadow: 0 1px 1px 0 #E4E4E4;
  top: 0;
}
header .nav .active a {
  font-weight: 700;
}
header .nav::after {
  clear: both;
  content: "";
  display: block;
}
header .nav li.menu-items {
  float: right;
  padding: 25px 17px;
}
header .nav li.menu-items a {
  text-decoration: none;
  color: #333;
  outline: none;
}

@media (min-width: 300px) and (max-width: 768px) {
  header .nav li.menu-items {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 1240px) {
  header .nav li.menu-items {
    font-size: 0.875rem;
    padding: 25px 10px;
  }
}
/* sliding panel */
.sliding-panel-content {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background: #000;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all 0.25s linear;
  z-index: 999999;
}

.sliding-panel-content ul {
  padding: 0;
  margin: 0;
}
.sliding-panel-content li {
  list-style: none;
}
.sliding-panel-content li a {
  color: #fff;
  display: block;
  font-weight: 500;
  padding: 1em;
  text-decoration: none;
}
.sliding-panel-content li a:focus {
  background-color: #03A57B;
}
.sliding-panel-content li a:hover {
  background-color: #03A57B;
  color: #fff;
}

.sliding-panel-content.is-visible {
  transform: translateX(0);
}

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 999998;
}

.sliding-panel-fade-screen.is-visible {
  opacity: 0.4;
  visibility: visible;
}

.sliding-panel-button {
  display: none;
  cursor: pointer;
  outline: none;
  padding: 30px 16px 0 0;
  position: relative;
  float: left;
}
.sliding-panel-button img {
  height: 1.3em;
}

@media (min-width: 300px) and (max-width: 768px) {
  .sliding-panel-button {
    display: inline-block;
  }
}
.footer {
  background-color: #fff;
  border-top: 1px solid #dcdcdc;
  padding: 35px 0;
  color: #999999;
  font-size: 14px;
  font-weight: 300;
}

.footer-social-container {
  padding: 20px 0 20px;
}
.footer-social-container::after {
  clear: both;
  content: "";
  display: block;
}
.footer-social-container li {
  float: left;
  margin-right: 15px;
}
.footer-social-container li img {
  width: 25px;
}

.footer-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
.footer-wrapper .footer-heading {
  margin-top: 30px;
}
.footer-wrapper .footer-column {
  width: calc(20% - 24px);
  float: left;
  margin-left: 20px;
}
.footer-wrapper .footer-column .footer-items-wrapper li {
  line-height: 2.4;
}
.footer-wrapper .footer-column .footer-items-wrapper li a {
  text-decoration: none;
  color: #1565c0;
}

@media (min-width: 300px) and (max-width: 768px) {
  .footer-wrapper .footer-column {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}
.hero-background {
  background-image: linear-gradient(-40deg, #03A67B 0%, #27C36F 97%);
  width: 100%;
  height: 600px;
  max-width: 2600px;
  border-bottom: 1px solid #9B9B9B;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.hero-background .browser-img {
  width: 900px;
  margin-bottom: 0;
  margin-top: 3.45rem;
}
@media (min-width: 300px) and (max-width: 768px) {
  .hero-background .browser-img {
    margin-top: 2.5rem;
    max-width: 500px;
    height: auto;
    width: 100%;
  }
}

.compare-hero-text-message {
  padding: 170px 0 0;
  text-align: center;
}
.compare-hero-text-message h1 {
  color: #FFF;
}
.compare-hero-text-message .h1-subheading {
  color: #FFF;
}

@media (min-width: 300px) and (max-width: 768px) {
  .shape-background {
    height: 530px;
  }

  .compare-hero-text-message {
    padding: 160px 0 0;
    height: 345px;
  }
}
.browser-shadow {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
}

.card {
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 20px 20px 20px;
  font-size: 0.875rem;
  text-align: center;
}
.card p {
  color: #000000;
  margin-top: 15px;
}
.card h3 {
  margin-top: 15px;
}

.storytelling-section {
  padding-top: 9.375rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (min-width: 300px) and (max-width: 768px) {
  .storytelling-section {
    padding-top: 6.25rem;
  }
}
.storytelling-section > .container {
  margin-top: 100px;
}
@media (min-width: 414px) and (max-width: 768px) {
  .storytelling-section > .container {
    margin-top: 60px;
  }
}
@media (min-width: 300px) and (max-width: 414px) {
  .storytelling-section > .container {
    margin-top: 20px;
  }
}
.storytelling-section .text-wrapper {
  width: 80%;
}
@media (min-width: 300px) and (max-width: 768px) {
  .storytelling-section .text-wrapper {
    width: 100%;
    margin-top: 60px;
  }
}

.rating-logos {
  margin-top: 55px;
  width: 100%;
  max-width: 777px;
  height: auto;
}

.community-section {
  padding-top: 9.375rem;
  background-image: url("../assets/img/hero-bg.png");
  background-repeat: repeat-x;
  background-size: 1400px;
  background-position: bottom center;
}
@media (min-width: 300px) and (max-width: 768px) {
  .community-section {
    background-size: 800px;
    padding-top: 6.25rem;
  }
}
.community-section .h1-subheading {
  padding-top: 24px;
}

.tribe-community-img {
  box-shadow: rgba(103, 103, 103, 0.24) 0 10px 20px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 55px;
  margin-bottom: 80px;
}

.bottom-section {
  padding: 6.25rem 0;
}
.bottom-section .h1-subheading {
  padding-top: 24px;
}
.bottom-section .action-btn {
  margin-top: 40px;
}

html {
  color: #333;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-size: 16px;
}

body {
  background-color: #FAFAFA;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, picture {
  margin: 0;
  max-width: 100%;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #03A57B;
  transition: color 150ms ease;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin-auto {
  margin: auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 12px;
}

h1 {
  font-size: 2.375rem;
  margin-bottom: 0;
  color: #000000;
  line-height: 1.3;
  font-weight: 700;
}

h2 {
  font-size: 2.125rem;
  line-height: 1.3;
  margin-bottom: 0;
  font-weight: 700;
  color: #333;
}

.h1-subheading, .h2-subheading {
  color: #676767;
  padding-top: 10px;
  font-weight: 450;
}

.h1-subheading {
  font-size: 22px;
  line-height: 30.89px;
}

@media (min-width: 300px) and (max-width: 768px) {
  h1 {
    font-size: 1.5625rem;
    letter-spacing: 0;
    line-height: 1.25;
  }

  .h1-subheading, .h2-subheading {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.25;
  }

  h2 {
    font-size: 1.5625rem;
    line-height: 1.25;
  }
}
@media (min-width: 300px) and (max-width: 768px) {
  .order-sm-n1 {
    order: -1;
  }
}
.action-btn {
  background-image: linear-gradient(-54deg, #28C46E 0%, #03A57B 100%);
  border-radius: 3px;
  padding: 17px 30px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.action-btn:hover {
  color: #FFFFFF;
  transform: scale(1.1);
  outline: none;
}

.center-title-wrapper {
  text-align: center;
  margin-bottom: 55px;
}

.discourse-p {
  width: 60%;
  margin: auto;
}
@media (min-width: 300px) and (max-width: 768px) {
  .discourse-p {
    width: 100%;
  }
}

.section-copy {
  color: #676767;
  font-size: 1.25rem;
  line-height: 1.32;
  padding-top: 15px;
  font-weight: 450;
}

.logo-image {
  width: 80px;
  display: inline-block;
  margin-top: 25px;
}

.site-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 991px) {
  .w-lg-60 {
    width: 60%;
  }
}
.section-space-m {
  margin-top: 3.75rem;
}

/*# sourceMappingURL=styles.css.map */
