@import 'header';
@import 'footer';
@import 'hero';
@import 'card';
@import 'pages/about';

html {
    color: #333;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    font-size: 16px;
}

body {
  background-color: #FAFAFA;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, picture {
    margin: 0;
    max-width: 100%;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
    color: #03A57B;
    transition: color 150ms ease;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin-auto {
  margin: auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    margin: 0 0 12px;
}

h1 {
    font-size: 2.375rem;
    margin-bottom: 0;
    color: #000000;
    line-height: 1.3;
    font-weight: 700;
}

h2 {
    font-size: 2.125rem;
    line-height: 1.3;
    margin-bottom: 0;
    font-weight: 700;
    color: #333;
}

.h1-subheading, .h2-subheading {
    color: #676767;
    padding-top: 10px;
    font-weight: 450;
}

.h1-subheading {
    font-size: 22px;
    line-height: 30.89px;
}

@media (min-width: 300px) and (max-width: 768px) {
  h1 {
      font-size: 1.5625rem;
      letter-spacing: 0;
      line-height: 1.25;
  }

  .h1-subheading, .h2-subheading {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.25;
  }

  h2 {
      font-size: 1.5625rem;
      line-height: 1.25;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .order-sm-n1 {
    order: -1;
  }
}

.action-btn {
    background-image: linear-gradient(-54deg, #28C46E 0%, #03A57B 100%);
    border-radius: 3px;
    padding: 17px 30px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    transition: all .2s ease-in-out;
    display: inline-block;

    &:hover {
      color: #FFFFFF;
      transform: scale(1.1);
      outline: none;
  }
}

.center-title-wrapper {
  text-align: center;
  margin-bottom: 55px;
}

.discourse-p {
    width: 60%;
    margin: auto;

    @media (min-width: 300px) and (max-width: 768px) {
      width: 100%;
    }
}

.section-copy {
    color: #676767;
    font-size: 1.25rem;
    line-height: 1.32;
    padding-top: 15px;
    font-weight: 450;
}

.logo-image {
    width: 80px;
    display: inline-block;
    margin-top: 25px;
}

.site-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 991px) {
  .w-lg-60 {
    width: 60%;
  }
}

.section-space-m {
  margin-top: 3.75rem;
}