.storytelling-section {
  padding-top: 9.375rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media (min-width: 300px) and (max-width: 768px) {
    padding-top: 6.25rem;
  }

  & > .container {
    margin-top: 100px;

    @media (min-width: 414px) and (max-width: 768px) {
      margin-top: 60px;
    }

    @media (min-width: 300px) and (max-width: 414px) {
      margin-top: 20px;
    }
  }

  .text-wrapper {
    width: 80%;

    @media (min-width: 300px) and (max-width: 768px) {
      width: 100%;
      margin-top: 60px;
    }
  }
}

.rating-logos {
  margin-top: 55px;
  width: 100%;
  max-width: 777px;
  height: auto;
}

.community-section {
  padding-top: 9.375rem;
  background-image: url("../assets/img/hero-bg.png");
  background-repeat: repeat-x;
  background-size: 1400px;
  background-position: bottom center;

  @media (min-width: 300px) and (max-width: 768px) {
    background-size: 800px;
    padding-top: 6.25rem;
  }

  .h1-subheading {
    padding-top: 24px;
  }
}

.tribe-community-img {
    box-shadow: rgb(103 103 103 / 24%) 0 10px 20px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 55px;
    margin-bottom: 80px;
}

.bottom-section {
  padding: 6.25rem 0;

  .h1-subheading {
    padding-top: 24px;
  }

  .action-btn {
    margin-top: 40px;
  }
}